body {
  background-color: #fff;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}